{
    "semi": true,
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "trailingComma": "all",
    "overrides": [{
        "files": "*.test.js",
        "options": {
            "semi": false
        }
    }]
}